*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: rgba(255, 248, 243, 1);
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),rgba(255, 248, 243, 1)  ;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 96%;
    max-width: 1536px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.color-orange{
    color: rgba(253, 110, 10, 1);}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}
.btn{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    color: rgba(71, 71, 71, 1);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    }
#banner .banner-content h1{
    color: rgba(24, 24, 24, 1);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
    }
#banner .banner-content p{
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 30px;
    margin-bottom: 30px;
    }
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}