*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: rgba(255, 248, 243, 1);
    padding-top: 50px;
}
nav{
    width: 96%;
    max-width: 1596px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.color-orange{
    color: rgba(253, 110, 10, 1);}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}
.btn{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}